.bet{
	background: #F0F3F5;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-left: 1px solid #D8DBDC;
	box-shadow:0 0 5px rgba(#000, .3);
	overflow: auto;
}
.icon{
	display: inline-block;
}
.arrow{
	display: inline-block;
	&.is-up{
		@include s(up);
	}
	&.is-down{
		@include s(down);
	}
}
@each $s in over, under, highline, lowline, hightouch, lowtouch, 
	doublenotouch, tunnel, overtugofwar,undertugofwar{
		.icon_#{$s}{
			@include s(pair_#{$s});
		}
	}

.bet__top{
	@include background-image(linear-gradient(#fff, #E2E7EB));
	border-bottom: 1px solid #D9DDE1;
	padding: 18px 0px 18px 18px;
	margin-bottom: 25px;
	overflow: hidden;
	@include box-sizing(border-box);
	.bet__asset{
		float: left;
		line-height: 1.1;
		width: 140px;
		small{
			font-size: 10px;
			text-transform: uppercase;
			opacity: .3;
			color: #000;
			@include reg;
			display: block;
		}
		strong{
			font-weight: normal;
			@include demi;
			font-size: 25px;
			margin-top: -2px;
			display: block;
		}
	}
	.bet__direction{
		position: absolute;
		top: 32px;
		left: 190px;
		&.is-up{
			@include s(up);
		}
		&.is-down{
			@include s(down);
		}
	}
	.bet__price{
		float: left;
		width: 123px;
		text-align: right;
		line-height: 1.1;
		small{
			font-size: 10px;
			text-transform: uppercase;
			opacity: .3;
			color: #000;
			@include reg;
			display: block;
		}
		strong{
			font-weight: normal;
			@include reg;
			font-size: 18px;
		}
	}
}

.bet__instrument{
	margin-left: 18px;
	line-height: 1.1; 
	small{
		font-size: 10px;
		text-transform: uppercase;
		opacity: .3;
		color: #000;
		@include reg;
		display: block;
	}
	strong{
		font-weight: normal;
		font-size: 18px;
		@include demi;
		text-transform: uppercase;
	}
	.icon{
		margin-left: 5px;
		vertical-align: middle;
		position: relative;
		top: -5px;
	}
}
.bet__percent{
	padding: 6px 15px 6px 10px;
	color: #E7EAEC;
	@include bold;
	line-height: 1;
	text-shadow:1px 1px 1px #fff, -1px -1px 1px #D7D9DB;
	letter-spacing: -8px;
}
.bet__strikeswrap{
	margin: 25px 20px 18px 18px;
}
.bet__strikes{
	border: 1px solid #CCCFD0;
	border-radius: 6px;
	display: inline-block;
	width: 100%;
	.bet__strike{
		float: left;
		width: 50%;
		position: relative;
		@include box-sizing(border-box);
		padding: 15px 0 15px 12px;
		line-height: 1;
		&:first-child{
			box-shadow:1px 0 0 #CCCFD0;
		}
		.arrow{
			vertical-align: middle;
			position: relative;
			top: -2px;
			margin-right: 5px;
		}
		.bet__nostrike{
			@include reg;
			@include opacity(.2);
			color: #000;
			font-size: 18px;
			text-align: center;
			margin-right: 12px;
		}
		small{
			font-size: 10px;
			text-transform: uppercase;
			opacity: .3;
			color: #000;
			@include reg;
			display: block;
			left: 0;
			top: -17px;
			position: absolute;
		}
		.bet__strikeq{
			@include reg;
			font-size: 18px;
			text-align: center;
			display: inline-block;
		}
	}
}
.createbet{
	font-size: 0;
	width: 270px;
	margin-left: 18px;
	.createbet__input{
		width: 132px;
		@include box-sizing(border-box);
		font-size: 15px;
		height: 50px;
		line-height: 50px;
		margin-right: 6px;
		padding: 0 12px;
		border: 1px solid #d8d8d8;
		@include border-radius(3px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(inset 2px 3px 5px rgba(0,0,0,.07));
		font-size: 32px;
		vertical-align: top;
		text-align: right;
		&::-webkit-input-placeholder{
			font-size: 15px;
			text-align: left;
		}
	}
	.createbet__submit{
		display: inline-block;
		text-align: center;
		@include border-radius(3px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(0 1px 1px rgba(0,0,0,.15));
		@include background-image(linear-gradient(bottom, #769a3c 0%, #a3c869 100%));
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		@include bold;
		font-size: 15px;
		height: 50px;
		line-height: 50px;
		width: 132px;
		cursor: pointer;
	}
	.createbet__amount{
		float: left;
		width: 132px;
		margin-right: 6px;
		small{
			font-size: 10px;
			text-transform: uppercase;
			opacity: .3;
			color: #000;
			@include reg;
		}
		strong{
			font-weight: normal;
			@include demi;
			font-size: 28px;
			color: #000;
			white-space:nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			    text-overflow: ellipsis;
		}
	}
	&.createbet_get{
		.createbet__submit{
			@include background-image(linear-gradient(bottom, #CB424D 0%, #EB6B73 100%));
		}
	}
}
