
$header: 60px; //header height
$headerarea: 160px;
$recommend: 30px; //recommend area height
$marketassets: 70px;
$expiries: 70px;

$left: 278px; // left sidebar(Pairs) width
$right: 309px; // right sidebar (Bet) width

$footer: 40px; //footer height
html{
	width: 100%;
	height: 100%;
}
body{
	min-width: 1250px;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
%l{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.l-header{
	@extend %l;
	height: $headerarea;
	bottom: auto;
	z-index: 1000;
	height: 60px !important;
}
.l-middle{
	@extend %l;
	top: $headerarea;
	bottom: $footer;
}
.l-page {
	@extend %l;
  top: -100px;
  .l-showpair{
  	left: 0;
  	right: 0;
  	bottom: 75px;
  }
}
.l-pairs{
	@extend %l;
	width: $left;
}
.l-bet{
	@extend %l;
	width: $right;
	left: auto;
	right: 0;
}
.l-showpair{
	@extend %l;
	left: $left;
	right: $right;
	//debug
	img{
		position: absolute;
		top: 0;left: 0;right: 0;bottom: 0;display: block;width: 100%;height: 100%;
	}
}
.l-marketassets{
	position: absolute;
	z-index: 50;
	top: 90px - 160px;
	right: 0;
	left: $left;
	height: $marketassets;
}
.l-recommend{
	position: absolute;
	left: 0;
	right: 0;
	top: -160px + 60px;
	height: 30px;
}
.l-expiries{
	position: absolute;
	top: 90px - 160px;
	left: 0;
	width: $left;
}
.l-footer{
	@extend %l;
	top: auto;
	height: $footer;
}
