.marketassets{
	position: absolute;
	z-index: 50;
	top: 90px;
	right: 0;
	left: $left;
	height: $marketassets;
	padding-right: 21px;
	z-index: 125;
	background: #fff;

	//overflow-x:hidden;
	.marketassets__wrap{
		white-space: nowrap;
		font-size: 0;
		//margin-bottom: -10px; 
		// @include box-sizing(border-box);
		// padding-bottom: 7px; 
		overflow: hidden;
		position: absolute;
		right: 0;
		bottom: -7px;
		top: -2px;
		padding-top: 2px;
		left: 0;
	}
	.marketassets__next,.marketassets__prev{
		position: absolute;
		top: 0;
		right: 0;
		width: 21px;
		height: 35px;
		z-index: 30;
		background: #FFF;
		border-left: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		@include box-sizing(border-box);
		cursor: pointer;
		i{
			position: absolute;
			top: 12px;
			left: 9px;
			@include s(next);
			display: inline-block;
		}
		&:hover{
			background: #eee;
		}
		&:active{
			i{
				top: 14px;
			}
		}
	}
	.marketassets__prev{
		top: auto;
		bottom: 0;
		i{
			left: 7px;
			@include s(prev);
		}
		&:before{
			position: absolute;
			bottom: -1px;
			height: $marketassets;
			left: -6px;
			width: 6px;
			content: ' ';
			@include background-image(linear-gradient(left,rgba(#000, 0), rgba(#000, .2)));
		}
	}
}
.marketasset{
	display: inline-block;
	font-size: 12px;
	height: $marketassets;
	padding: 21px 46px 0 21px;
	@include box-sizing(border-box);
	border-left: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	cursor: pointer;
	&:before{
		position: absolute;
		content: ' ';
		z-index: 2;
	}
	.marketasset__pair{
		@include lite;
		font-size: 18px;
		font-weight: normal;
		line-height: 1;
		margin-bottom: 3px;
		position: relative;
		z-index: 3;
		white-space: nowrap;
	}
	.marketasset__quo{
		color: #000;
		opacity: .5;
		font-size: 13px;
		z-index: 3;
		position: relative;
	}
	.marketasset__direction{
		position: absolute;
		top: 11px;
		left: 13px;
		z-index: 3;
		&.is-up{
			@include s(up);
		}
		&.is-down{
			@include s(down);
		}
	}
	&.is-active, &:hover{
		background: #F3FAFE;
		&:before{
			top: -1px;
			bottom: -1px;
			right: -1px;
			left: -1px;
			border: 1px solid #00B0F8;
		}
		&:after{
			content: ' ';
			position: absolute;
			@include s(marketasset__arrow);
			bottom: -7px;
			left: 24px;
			z-index: 30;
		}
	}
}