.pairs{
	position: absolute;
	top: 0;
	left: 0;
	//right: -17px;
	right: 0;
	bottom: 0;
	//padding-right: 17px;
	// padding-left: 9px;
	
	.pairs__scroll{
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		width: 9px;
		@include box-sizing(border-box);
		background: #E0E2E4;
		border-right: 1px solid #CACACA;
		opacity: .4;
	}
	.pairs__thumb{
		@include s(thumb);
		display: inline-block;
		margin-left: 1px;
		margin-top: 1px;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		opacity: .4;
	}
	.pairs__wrap{
		position: absolute;
		//left: 9px;
		left: 0;
		top: 0;
		bottom: 0;
		right: -20px;
		//right: -20px;
		//padding-right: 20px;
		overflow: hidden;
	}
	.scroll{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
	}
}
.pairgroup{
	position: relative;
	margin-right: 16px;
	width: 286px - 16px;
	&:before{
		position: absolute;
		content: ' ';
		width: 20px;
		right: -5px;
		top: 0;
		bottom: 0;
		border-radius: 10px;
		z-index: 1;
		@include border-radius(0 5px 5px / 0 7px 7px);
		opacity: .5;
	}
	//cycle thru color labels and actual colors and gradients
	@each $s in 
		red #D4AAA5 #EDE9E8, 
		yellow #DDC493 #EFEDE6, 
		green #96B28C #E6EDE6, 
		azure #8CBAC9 #E4EDF0, 
		blue #9FB7CB #E6EAEF, 
		purple #C99CD1 #ECE6EF
	{
		&.pairgroup_#{nth($s, 1)}{
			display: block;
			&:before{
				//$newc: #{nth($s, 1)};
				background-color: #{nth($s, 2)};
			}
			.pair{
				border-right-color: #{nth($s, 2)};
				//$a: lighten(#{nth($s, 3)}, 20%);
				// @if(#{nth($s, 1)}==red){
				// 	background: red;
				// 	-webkit-transform:scale(2);
				// }
				@include background-image(linear-gradient(#fff, red));
			}
		}
	}
	$op: 1; 
	&.pairgroup_red .pair{@include background-image(linear-gradient(#fff, rgba(#EDE9E8,$op)));}
	&.pairgroup_yellow .pair{@include background-image(linear-gradient(#fff, rgba(#EFEDE6,$op)));}
	&.pairgroup_green .pair{@include background-image(linear-gradient(#fff, rgba(#E6EDE6,$op)));}
	&.pairgroup_azure .pair{@include background-image(linear-gradient(#fff, rgba(#E4EDF0,$op)));}
	&.pairgroup_blue .pair{@include background-image(linear-gradient(#fff, rgba(#E6EAEF,$op)));}
	&.pairgroup_purple .pair{@include background-image(linear-gradient(#fff, rgba(#ECE6EF,$op)));}
}
.pairgroup .pair{
	height: 55px;
	border-bottom: 1px solid #E2DDDD;
	@include background-image(linear-gradient(#fff, #EFF0F1));
	cursor: pointer;
	position: relative;
	border-right: 1px solid #D2D5D7;
	@include box-sizing(border-box);
	padding-left: 14px;
	z-index: 2;
	.pair__name{
		font-size: 13px;
		opacity: .5;
		color: #000;
		text-transform: uppercase;
		display: table-cell;
		vertical-align: middle;
		left: 14px;
		top: 0px;
		@include demi;
		line-height: 1;
		top: 0;
		height: 55px;
	}
	.pair__percent{
		position: absolute;
		top: 0;
		left: 169px;
		width: 86px;
		@include lite;
		text-align: right;
		font-size: 25px;
		color: #000;
		line-height: 55px;
		height: 55px;
		&.is-red{
			color: #f4464f;
		}
	}
	.pair__quo{
		position: absolute;
		left: 122px;
		top: 0;
		width: 48px;
		text-align: left;
		height: 55px;
		//line-height: 55px;
		line-height: 1;
		font-size: 11px;
		opacity: .4;
		div{
			display: table-cell;
			vertical-align: middle;
			height: 55px;
		}
	}
	.pair__instrument{
		position: absolute;
		left: 100px;
		top: 23px;
		display: block;
		width: 10px;
		height: 10px;
		background: red;
	}
	@each $s in over, under, highline, lowline, hightouch, lowtouch, 
	doublenotouch, tunnel, overtugofwar,undertugofwar{
		&.pair_#{$s}{
			.pair__instrument{
				@include s(pair_#{$s});
			}
		}
	}
	&.is-active{
		margin-right: -24px;
		border-right: none;
		//@include background-image(linear-gradient(#fff, #C8CED2));
		border-bottom-color: #C8CED2;
		border-bottom: none;
		@include si(pair_active);
		.pair__name{
			opacity: 1;
		}
		.pair__percent{
			@include demi;
		}
	}
}




